@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
}

:root {
  --neutral-white: #fff;
  --neutral-black: #1f1717;
  --neutral-100: #faf8f8;
  --neutral-200: #f6f4f4;
  --neutral-300: #f1ecec;
  --neutral-400: #dddcdc;
  --neutral-500: #c7a7a7;
  --main-red: #ff5656;
  --main-500: #ff6262;
}